.carousel-dificil {
    @include flex-direc(flex, column, center);
    width: 100%;

    &-slide {
        width: 35%;
    }
}

.d-block {
    @include width-height(100px, 500px);
    margin-top: 5%;
    
}

.marca-ropa {
    @include centrado-p(flex, center, center);
    background-color: $blue;
    margin-top: 5%;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

.fotovioleta {
    display: flex;
    margin-bottom: 5%;
}

#productos {
    position: relative;
    top: 20px;
    bottom: 20px;

    &-title {
        @include centrado-p(flex, center, center);
        margin-bottom: 3%;
        background-color: $amarillo;
        
    }
}

.fotos-productos {
   
    justify-content: center;
    align-items:start;
    justify-items: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas:
        "producto1 producto2 producto3";
}

#producto1 {
    grid-area: producto1;
}

#producto2 {
    grid-area: producto2;
}

#producto3 {
    grid-area: producto3;
}

.texto-img {
    @include flex-direc(flex, column, center);
    width: 300px;
    justify-content: center; 
    text-align: center;
    margin-bottom: 3%;
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    margin-top: 5%;
    text-align: center;
    color: $amarillo;

}

h4 {
    color: $amarillo;
    display: flex;
    justify-content: center;
}

.call-to-action {
    @include centrado-p(flex, center, center);
    margin-bottom: 3%;
    
}

.vertienda {
    display: flex;
    justify-content: center;
}

.faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;


    &-title {
        font-size: map-get($map: $f-size, $key: "mediano");
        margin-top: 3%;
        color: $amarillo;
        align-items: center;
        width: 100%;
        text-align: center;
    }
}

.preguntasf {
    display: flex;
    flex-direction: column;
    font-size: medium;
    align-items: flex-start;
    margin-top: 3%;
    
}

.suscribete {
    margin-left: 5%;
    margin-top: 2%;
}


.padre-card {
    display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
  

}

.card {
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    width: 15rem;
    text-align: center;
   
}

.btn {
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    color: #fff;
    background-color: #aaec25;
    cursor: pointer;
  }

.card-body {
    justify-content: center;
    align-items: center;
    font-family: 'Onest', sans-serif;
}





.mapa {
    margin: 4%;
    margin-bottom: 10%;
   
    display: flex;
    justify-content: center;
}

#sobre-nosotros {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
    justify-content: center;
}


.card-mujeres {
    margin-right: 10px;
    margin-top: 20px;
    margin-left: 10px;
    
    text-align: center;
}

.card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: auto;
    
}

.card-img-overlay {
    font-family: 'Onest', sans-serif;
    font-weight: bold;
    color: $amarillo;
    font-size:medium;
    position: relative;
    margin-top: 3%;
}

.historia {
    font-family: 'Onest', sans-serif;
    font-size: large;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 2%;
}

.nuestra {
    font-size: xx-large;
    justify-content: center;
    text-align: center;
    color: $amarillo;
}

.costos {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
    font-family: 'Onest', sans-serif;
    
}

.seg-env {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    font-family: 'Onest', sans-serif;
    
}


.container {
   
  width: 500px;
  margin: 0 auto;
  padding: 30px;
  background-color: #ade342;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}
.container h1 {
    @include centrado-p(flex, center, center);
}

.row {
    margin-top: 2%;
    margin-bottom: 2%;
}

.btn-primary {
    background-color: $amarillo;
}