@media (max-width: 1020px) {

  body {
    background-color: $blue;
  }

  
  .fotos-productos {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-content: center;

    align-items: start;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "producto1 producto2"
      "producto3 producto3"
  }

 

  .productosf {
    flex-direction: column;
  }

  .productos-productos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 100%;

    img {
      margin: 10px;
      width: 20%;
      height: 50%;
      justify-content: center;
      align-items: center;
    }

    h2 {
      justify-content: center;
      align-items: center;
    }


  
  }
}

@media (max-width: 768px) {
  body {
    background-color: $blue-violet;
  }

  .contenido-logo {
    width: 100%;
  }

  .your-clothes {
    width: 100%;
  }

  /*aca tambien pasa algo raro*/
  .fotos-productos {
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: start;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      "producto1"
      "producto2"
      "producto3"
  }

  form {
    font-size: map-get($map: $f-size, $key: "peque");
  }

  .d-block {
    @include width-height(450px, 500px);
    margin-top: 5%;
  }

  .carousel-slide {
    width: 80%;

  }

  .carousel-dificil {
    display: flex;
  }

  .clothes {
    font-size: map-get($map: $f-size, $key: "mas-peque");
    background-color: $blue;
  }

  p {
    font-size: map-get($map: $f-size, $key: "mas-peque");
    text-align: justify;
    font-family: "Onest", sans-serif;
  }

  h2 {
    font-size: map-get($map: $f-size, $key: "grande");
    background-color: $amarillo;
  }

  h3 {
    font-size: map-get($map: $f-size, $key: "peque");
    text-align: justify;

  }

  .card-img {
    width: 100%;
  }


}