$amarillo: #aaec25;
$blue: #5656b3;
$blue-violet: #5f80f4;
$white: #ffffff;
$black: #000;
$amarilloverde: #b0e449;
$colors: (
    "Primary": #000000,
    "Secondary": #ffffff,
    "bg-primary": #000000,
    "bg-secondary": #ffffff,
)